@import "src/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: $main-darklg;
  padding: 0 $ld-offset-md;

  .menu-container {
    font-size: 25px;
    cursor: pointer;
    height: 25px;

    .menu-icon {
      cursor: pointer;
      font-size: 30px;
      line-height: 25px;
    }
  }
}
