<header class="header">
  <div><div class="header__back" (click)="navigate()">
    <i class="fa fa-angle-left" *ngIf="layoutService.showChatEnabled"></i>
    <i class="fa fa-users" *ngIf="!layoutService.showChatEnabled && !layoutService.showActiveUsersEnabled"></i>
    <i class="fa fa-angle-right" *ngIf="layoutService.showActiveUsersEnabled"></i>

  </div></div>
  <h1 class="logo-text"><span routerLink="/">webrtc</span></h1>
  <div class="navigation-container">
    <button *ngIf="!authService.isSignedIn()" mat-flat-button class="rtc-primary-button" routerLink="/sign-in" color="primary">Sign In</button>
    <div *ngIf="authService.isSignedIn()" class="menu-container" [matMenuTriggerFor]="menu">
      <span class="material-icons-outlined menu-icon">menu</span>
    </div>
    <mat-menu #menu="matMenu" class="manage-member-menu">
      <div class="menu-navigation">
        <button class="navigation-link rtc-primary-button" mat-flat-button routerLink="/profile" color="primary">Profile</button>
        <button class="navigation-link rtc-primary-button log-out-button" mat-flat-button (click)="authService.logOut()" routerLink="/sign-in" color="warn">Log Out</button>
      </div>
    </mat-menu>
  </div>
</header>
