<header class="header">
  <div class="logo-container">
    <h1 class="logo-text">
      <i class="fa fa-eye logo-img" aria-hidden="true" *ngIf="!dark" (click)="changeHeaderState()"></i>
      <i class="fa fa-eye-slash logo-img" aria-hidden="true" *ngIf="dark" (click)="changeHeaderState()"></i><span routerLink="/">WebRTC</span>
    </h1>
  </div>
  <div class="navigation-container">
    <button *ngIf="!authService.isSignedIn()" mat-flat-button class="rtc-primary-button" routerLink="/sign-in" color="primary">Sign In</button>
    <div *ngIf="authService.isSignedIn()" class="menu-container" [matMenuTriggerFor]="menu">
      <span class="material-icons-outlined menu-icon">menu</span>
    </div>
    <mat-menu #menu="matMenu" class="manage-member-menu">
      <div class="menu-navigation">
        <a class="navigation-link" mat-flat-button routerLink="/profile" color="primary">Profile</a>
        <a class="navigation-link" mat-flat-button (click)="authService.logOut()" routerLink="/sign-in" color="warn">Log Out</a>
      </div>
    </mat-menu>
  </div>
</header>
