<div class="chat-container">
  <div class="message-container" *ngFor="let message of [{from: 'Me', text: 'Hi'}, {from: 'Max', text: 'Hi'}, {from: 'Me', text: 'STFU'}]">
    <p class="message-user">{{message.from}}:</p>
    <span class="message-text">{{message.text}}</span>
  </div>
  <div class="text-area-container">
    <form class="message-input" [formGroup]="messageForm">
      <mat-form-field appearance="outline" class="rtc-input">
        <label>
                <textarea matInput
                          cdkAutosizeMaxRows="5"
                          class="input-area"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="2"
                          placeholder="Message"
                          formControlName="message">
                </textarea>
        </label>
        <mat-icon matSuffix [matMenuTriggerFor]="menu" class="emoji-icon">sentiment_very_satisfied</mat-icon>
        <mat-menu #menu="matMenu">
          <emoji-mart
            class="emoji-menu"
            [showPreview]="false"
            [color]="'#de822b'"
            [isNative]="true"
            [totalFrequentLines]="2"
            (emojiSelect)="emojiSelected($event)"
            (click)="$event.stopPropagation()">
          </emoji-mart>
        </mat-menu>
      </mat-form-field>
    </form>
    <mat-icon class="send-message"><span class="material-icons">send</span></mat-icon>
  </div>
</div>
