@import "src/styles/variables";

$default-panel-width: 300px;
.main-container {
}

.active-users-panel {
  width: $default-panel-width;
  height: 100%;
  background: $main-dark-active;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
  }

  &.selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: $break-xs){
  .main-container {
    .main-content-container {
      .active-users-panel {
        border: none;
        width: 100%;

        .panel-title {
          text-align: center;
          padding-left: 0;
        }
      }

      .no-selected-user-placeholder {
        display: none;
      }

      .video-chat-container {
        display: none;
      }

      &.show-chat {
        .active-users-panel, .talk-info {
          display: none;
        }
      }

      .local-video {
        width: 35%;

        &.moved {
          right: -1340px;
        }
      }
    }
  }
}
