@import "src/styles/variables";

$default-panel-width: 300px;
.main-container {
  height: 100%;

  .video-container {
    height: calc(100% - #{$default-panel-width + $default-offset});
    position: relative;

    .controls {
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      left: 0;
    }
  }
}

.main-content-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.active-users-panel {
  width: $default-panel-width;
  height: 100%;
  border-right: 1px solid #cddfe7;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
  }

  &.selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
  }
}

.video-chat-container {
  padding: 20px;
  flex: 1;
  position: relative;
}

.talk-info {
  font-weight: 500;
  font-size: 21px;
}

.remote-video {
  border: 1px solid #cddfe7;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: $default-thumbnail-border-radius;
}

.local-video {
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 70px;
  right: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: $default-panel-width + $default-offset * 2;
}

.local-video-container {
  .local-video-close-button {
    display: none;
  }

  .local-video-show-button {
    display: none;
  }
}

@media screen and (max-width: $break-xs){
  .main-container {
    .main-content-container {
      .active-users-panel {

        border: none;
        width: 100%;

        .panel-title {
          text-align: center;
          padding-left: 0;
        }
      }

      .video-chat-container {
        display: none;
      }

      &.show-chat {
        .video-chat-container {
          display: block;
        }

        .active-users-panel, .talk-info {
          display: none;
        }
      }

      .local-video-container {
        .local-video-close-button {
          display: block;
          position: absolute;
          bottom: 219px;
          right: 0;
        }

        .local-video-show-button {
          border-radius: 8px;
          display: block;
          position: absolute;
          bottom: 100px;
          right: 0;
          height: 200px;
          width: 19px;
          color: #FFFFFF;
        }
      }

      .local-video {
        width: calc(100% - 40px);

        &.moved {
          right: -1340px;
        }
      }
    }
  }
}
