<div class="main-container" >
  <div class="main-content-container">
    <div class="main" [ngClass]="{'show-chat': layoutService.showChatEnabled, 'show-active-users' : layoutService.showActiveUsersEnabled }">
      <div class="active-users-panel" id="active-user-container">
        <h3 class="panel-title">Active Users</h3>
        <app-user-thumbnail id="{{user.id}}" *ngFor="let user of sockets" (offerMade)="select(user.id)" [user]="user.data">
        </app-user-thumbnail>
      </div>
      <div class="main__left">
        <div class="videos__group">
          <div id="video-grid">

          </div>
        </div>
        <div class="options">
          <div class="options__left">
            <div id="muteButton" class="options__button"
                 [ngClass]="{'background__red': myMicrophoneOff }"
                 (click)="muteMicrophoneEvent()"
            >
              <i class="fa fa-microphone"></i>
            </div>
            <div id="stopVideo" class="options__button"
                 [ngClass]="{'background__red': myVideoOff }"
                 (click)="stopVideoEvent()"
            >
              <i class="fa fa-video-camera"></i>
            </div>
            <div id="showChat" class="options__button" (click)="enableShowChat()">
              <i class="fa fa-comment"></i>
            </div>
          </div>
          <div class="options__right">
            <div id="inviteButton" class="options__button" (click)="openInviteModal()">
              <i class="fa fa-user-plus"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__chat_window">
          <div class="messages">
          </div>
        </div>
        <div class="main__message_container" [formGroup]="messageForm">
          <input id="chat_message" type="text" autocomplete="off"
                 placeholder="Type message here..." formControlName="message"
                 (keydown)="keyDownFunction($event)"
          >
          <div id="send" class="options__button send-message-btn" (click)="sendMessage()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
        <div class="social-links">
          <span>Contact Us:</span>
          <a href="https://www.linkedin.com/" class="contact-link"><span class="fa fa-linkedin contact-icon"></span></a>
          <a href="https://www.facebook.com/" class="contact-link"><span class="fa fa-facebook contact-icon"></span></a>
          <a href="https://www.youtube.com/" class="contact-link"><span class="fa fa-youtube-play contact-icon"></span></a>
          <a href="https://www.google.com/" class="contact-link google-icon-wrapper">
            <span class="fa fa-google contact-icon google-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
