@import "src/styles/variables";

$default-panel-width: 300px;
.main-container {
  height: 100%;

  .video-container {
    height: calc(100% - #{$default-panel-width + $default-offset});
  }
}

.main-content-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.active-users-panel {
  width: $default-panel-width;
  height: 100%;
  border-right: 1px solid #cddfe7;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #cddfe7;
  padding-bottom: 10px;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 1px solid #cddfe7;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
  }

  &.selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
  }
}

.video-chat-container {
  padding: 0 20px;
  flex: 1;
  position: relative;
}

.talk-info {
  font-weight: 500;
  font-size: 21px;
}

.remote-video {
  border: 1px solid #cddfe7;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: $default-thumbnail-border-radius;
}

.local-video {
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 70px;
  right: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: $default-panel-width + $default-offset * 2;
}

@media screen and (max-width: $break-xs){
  .main-container {
    .active-users-panel {

      border: none;
      width: 100%;

      .panel-title {
        text-align: center;
        padding-left: 0;
      }
    }
    .video-chat-container {
      display: none;
    }
  }
}
