@import "variables";

.auth-container {
  position: fixed;
  z-index: 5;
  top: $header-height;
  left: 0;
  height: calc(100% - #{$header-height});
  width: 100%;
  overflow: auto;

  .auth-content {
    display: table;
    width: 100%;
    height: 100%;

    .auth-content-inner {
      display: table-cell;
      vertical-align: middle;
      padding-top: 35px;
      max-width: 300px;
      margin: 0 auto;
    }

    .auth-form-container {
      padding: $default-offset;
      margin: $default-offset auto $default-offset auto;
      border-radius: $default-thumbnail-border-radius;
    }
  }
}

.sign-in-container, .sign-up-container, .user-profile-container {
  width: 400px;
  background: #e8f0fe29;
  border: 2px solid $primary-blue;

  .sign-in-form, .sign-up-form, .user-profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .link-container {
    display: flex;
    justify-content: center;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primary-blue;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:  $break-xs) {
  .auth-container {
    .auth-content {
      .auth-content-inner {
        padding-top: 0;
        vertical-align: top;
      }

      .auth-form-container {
        padding: $ld-offset-sm;
        margin: $ld-offset-md;
      }
    }
  }

  .sign-in-container, .sign-up-container, .user-profile-container {
    width: calc(100% - #{$ld-offset-md * 2});
  }
}
