@import "variables";

.rtc-input {
  .password-mat-button {
    color: $primary-color;
  }
}

.sign-in-button, .sign-up-button {
  background: $primary-color;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  color: #FFF;
  height: 50px;
}

.sign-up-button {
  background: $primary-green;
}

.sign-up-link, .sign-in-link {
  display: block;
  margin-top: $ld-offset-lg;
  text-decoration: none;
  color: $primary-color;
}

.social-links {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-darklg;
  padding: 10px;
  border-top-left-radius: $default-thumbnail-border-radius;

  .contact-link {
    text-decoration: none;
    cursor: pointer;

    .contact-icon {
      display: flex;
      justify-content: center;
      border-radius: 50%;
      min-width: 32px;
      min-height: 32px;
      background: $primary-color;
      color: #FFF;
      padding: $ld-offset-sm;
    }
  }

  @media screen and (max-width:  $break-xs) {
    border-top-left-radius: 0;
  }
}

.local-video-show-button {
  background: $primary-blue;
}

.rtc-primary-button {
  font-family: 'Work Sans', sans-serif;
  width: 75px;
  background: $primary-color;
  color: #FFF;
  line-height: 25px;
  height: 25px;

  &.mat-flat-button {
    line-height: inherit;
  }
}

