@import "variables";

.row-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .rtc-input {
    width: calc(50% - #{$ld-offset-sm});
  }

  @media screen and (max-width: $break-xs){
    display: block;

    .rtc-input {
      width: 100%;
    }
  }
}

.menu-navigation {
  display: flex;
  flex-direction: column;

  .navigation-link {
    width: 100px;
    margin: 10px 0 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.rtc-input {
  font-family: 'Work Sans', sans-serif;
}

.user-container {
  position: relative;
  min-height: 70px;
  border-bottom: 1px solid $primary-blue;
  padding: $ld-offset-sm;

  .user-name {
    margin-top: 0;
    color: $primary-blue;
    cursor: pointer;
  }

  .is-active-icon {
    position: absolute;
    top: $ld-offset-sm;
    right: $ld-offset-sm;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #82be5b;
  }

  .user-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
