@import "variables";

.row-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .rtc-input {
    width: calc(50% - #{$ld-offset-sm});
  }

  @media screen and (max-width: $break-xs){
    display: block;

    .rtc-input {
      width: 100%;
    }
  }
}

.menu-navigation {
  display: flex;
  flex-direction: column;

  .navigation-link {
    width: 100px;
    margin: 10px 0 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.rtc-input {
  font-family: 'Work Sans', sans-serif;
}
