// colors-variables
$header-bg-color: #ffffff;
$sidenav-bg-color: $header-bg-color;

$primary-bg-color: #f5f5f5;
$medium-bg-color: #dcdcdc;
$dark-bg-color: #ababab;
$secondary-color: #000000;
$active-bg-color: #e8f4f4;

$default-border-color: #e8e8e8;
$icon-color: #a8a8a8;

$primary-grey: #5c5c5c;
$primary-blue: #5b7a9f;
$primary-green: #82be5b;
$primary-orange: #de822b;

$text-color: #564A4A;
$text-color-dark: #2F2929;

// layout-variables

$header-height: 51px;
$header-height-m: 50px;
$bottom-nav-height: 50px;
$call-block-height: 240px;
$call-block-max-width: 360px;

$max-form-width: 960px;
$banner-height: 230px;

$ld-offset-sm: 8px;
$small-offset: 15px;
$ld-offset-md: 16px;
$ld-offset-lg: 24px;
$default-offset: 25px;
$default-border-radius: 4px;
$default-thumbnail-border-radius: 8px;
$default-min-height: 230px;

$break-xs: 850px;

// Buttons
$w-btn-height: 40px;
$w-btn-height-m: 45px;
$profile-submit-btn-height: 56px;
