<footer class="footer">
  <div class="social-links">
    <span>Contact Us:</span>
    <a href="https://www.linkedin.com/" class="contact-link"><span class="fa fa-linkedin contact-icon"></span></a>
    <a href="https://www.facebook.com/" class="contact-link"><span class="fa fa-facebook contact-icon"></span></a>
    <a href="https://www.youtube.com/" class="contact-link"><span class="fa fa-youtube-play contact-icon"></span></a>
    <a href="https://www.google.com/" class="contact-link google-icon-wrapper">
      <span class="fa fa-google contact-icon google-icon"></span>
    </a>
  </div>
</footer>
