@import "styles/variables";
@import "styles/navigation-menu";
@import "styles/auth";
@import "styles/buttons";
@import "styles/themes";
@import "styles/containers";
@import "styles/multiselect";

* {
  box-sizing: border-box
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0 1000px #fbfdff inset;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif !important;
  background-color: #ffffff;
}

@media screen and (min-width: $break-xs) {
  body {
    //background-color: $dark-bg-color;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
