@import "src/styles/variables";

.sign-in-container {
  width: 400px;
  background: #e8f0fe29;
  border: 2px solid $primary-blue;

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ::ng-deep {
      .mat-form-field-suffix {
        position: static;
      }
      .password-mat-button {
        font-size: 13px;
      }
    }
  }

  .link-container {
    display: flex;
    justify-content: center;
  }
}
